@font-face {
  font-family: Sunflower-Bold;
  src: url(Sunflower/Sunflower-Bold.ttf);
}

@font-face {
  font-family: Sunflower-Light;
  src: url(Sunflower/Sunflower-Light.ttf);
}

@font-face {
  font-family: Zoho-Puvi-Medium;
  src: url(Sunflower/Zoho\ Puvi\ Medium.ttf);
}

@font-face {
  font-family: Zoho-Puvi-Semibold;
  src: url(Sunflower/Zoho\ Puvi\ Semibold.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.zsib-main-div {
  height: 100vh;
  display: flex;
  color: white;
  overflow: hidden;
}
.zsib-bid-div {
  width: 100vw;
  background-color: #0047bb;
  position: relative;
}

.zsib-name {
  display: flex;
  align-items: center;
  text-align: center;
  width: 50%;
  background-color: #032027;
  height: fit-content;
  /* padding: 1em; */
  position: relative;
  z-index: 1;
  background: rgb(12, 73, 76);
  background: radial-gradient(
    circle,
    rgba(12, 73, 76, 1) 0%,
    rgba(3, 32, 39, 1) 92%
  );
  height: 117px;
  border-top: 3px solid #4d887e;
}

.zsib-name > p {
  margin: auto;
  font-size: 42px;
  font-family: Sunflower-Bold;
  padding: 10px;
  /* border: 1px solid; */
  width: 60%;
}

.zsib-bottom-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  top: 73vh;
  /* border: 1px solid; */
}
.outside-zsib-player-info{
  position: absolute;
  bottom: -60px;
  left: -4px;
  right: -4px;
  background-color: #4d887e;
  clip-path: polygon(5% 100%, 95% 100%, 100% 0, 0 0);
  /* width: 100%; */
  height: 64px;

}
.zsib-player-info {
  position: absolute;
  /* width: 100%; */
  /* bottom: -52px; */
  display: flex;
  justify-content: center;
  gap: 3em;
  font-size: 22px;
  padding: 0.5em;
  /* right: -4px;
  left: -4px; */
  /* border-top: 3px solid #4d887e; */
  top: 3px;
  bottom: 3px;
  right: 3px;
  left: 3px;

  clip-path: polygon(5% 100%, 95% 100%, 100% 0, 0 0);
  background: radial-gradient(
    circle,
    rgba(12, 73, 76, 1) 0%,
    rgba(3, 32, 39, 1) 92%
  );
  font-family: Zoho-Puvi-Semibold;
  color: rgb(196, 195, 195);
}
.zsib-player-info span {
  color: white;
  font-family: Zoho-Puvi-Semibold;
  margin-left: 8px;
  font-size: 32px;
}

.zsib-player-info  p{
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
}

.image {
  position: absolute;
  width: 300px;
  top: -200px;
  z-index: 1;
}

.outside,
.outside1 {
  position: relative;
  width: 400px;
  height: 134px;
  background: #4d887e;
  clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
  margin-right: -100px;
  margin-top: -20px;
  margin-left: -100px;
  z-index: 2;
}

.inside,
.inside1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3px;
  left: 5px;
  right: 5px;
  bottom: 3px;
  /* background-color: #032027; */
  clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
  background: rgb(12, 73, 76);
  background-image: radial-gradient(
    circle at bottom center,
    #0c494c 20%,
    #032027 70%
  );
}

.bid-price,
.bid-price-amt {
  margin: auto;
  width: fit-content;
  border-bottom: 3px solid #4d887e;
  padding: 4px 20px;
  margin-top: 8px;
  font-size: 24px;
}
.bid-price {
  font-family: Zoho-Puvi-Semibold;
  color: rgb(196, 195, 195);
  /* border: 1px solid; */
}
.bid-price-amt {
  font-size: 56px;
  border-bottom: none;
  margin-top: 0px;
  padding: 0;
  font-family: Zoho-Puvi-Medium;
}

.circle-img {
  position: absolute;
  width: 400px;
  bottom: 10px;
}
